.button--icon {
    cursor: pointer;
    transition: transform 300ms ease-in-out;
    max-width: 33px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.button--icon:hover {
    transform: scale(1.35);
}

.arrow {
    transition: transform 300ms ease-in-out;
    animation: rotate-back 500ms ease-in-out 1 forwards;
    
    cursor: pointer;
}

.arrow--expanded {
    transform: rotate(180deg) scale(1.35);
}