.notes__container {
    display: flex;
    flex: 1;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;
}

.note {
    /* font-family: 'Ubuntu Condensed', sans-serif; */
    box-shadow: 0px 0px 5px rgba(78, 76, 80, 0.185);
    color: #969492;
    padding: 1rem 1rem;
    height: 20rem;
    width: 25rem;
    /* flex-shrink: 0; */
    margin-bottom: 1.6rem;
    word-break: break-all;
    /* transition: all 300ms ease-in-out; */
}

.note--edit {
    animation: pulse 500ms ease-in-out 1 forwards;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.note--edit input {
    border: none;
    margin-bottom: 1.2rem;
}

.note--edit textarea {
    flex: 1;
    border: none;
    resize: none;
    height: 100%;
    width: 100%;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px rgba(78, 76, 80, 0.185);
    }
    100% {
        box-shadow: 0px 0px 10px 10px #1b89d344;        
    }
}

.note__title {
    color: #5f5c5a;
    font-weight: 400;
    font-size: 2rem;
}

.note__date {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.note__content {
    color: #5f5c5a;
    max-height: 110px;
    flex: 1;
    overflow: hidden;
}

.note__top-actions {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.note--expanded {
    flex-grow: 1;
    height: 100%;
    background: white;
    z-index: 1;
}

.note--expanded .note__content {
    overflow: auto;
    max-height: 100%;
}
